{% extends 'base.html' %}

{% block content %}
<h1>Lista użytkowników</h1>

<table>
    <thead>
        <tr>
            <th>Nazwa użytkownika</th>
            <th>Adres e-mail</th>
            <th>Grupy</th>
            <th>Zmień grupy</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for group in user.groups.all %}
                        <span>{{ group.name }}</span>
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <form action="./change_group/{{ user.id }}" method="post">
                        {% csrf_token %}
                        {% for group in groups %}
                            <input type="checkbox" name="groups[]" value="{{ group.id }}" {% if user in group.user_set.all %}checked{% endif %}> {{ group.name }}
                        </input>
                        <br>
                    {% endfor %}
                        <button type="submit">Zmień grupy</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

{% endblock %}