<!DOCTYPE html>
<html>
<head>
    <title>Dodaj terminal</title>
</head>
<body>
    <h1>Dodaj terminal</h1>

    <form method="POST" csrf_exempt>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="form-group">
            <label for="nazwa">Nazwa</label>
            <input type="text" name="nazwa" class="form-control" id="nazwa">
        </div>

        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea name="opis" class="form-control" id="opis" rows="5"></textarea>
        </div>

        <div class="form-group">
            <label for="stan">Stan</label>
            <textarea name="stan" class="form-control" id="stan" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
</body>
</html>
