<!DOCTYPE html>
<html>
<head>
    <title>Lista terminali</title>
</head>
<body>
    <h1>Lista terminali</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Stan</th>
            </tr>
        </thead>
        <tbody>
            {% for x in terminal %}
                <tr>
                    <td>{{ x.nazwa }}</td>
                    <td>{{ x.opis }}</td>
                    <td>{{ x.stan }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>