@font-face {
  font-family: "Retro_Computer";
  src: url('fonts/Retro_Computer.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: sans-serif;
  background-color: #ffd76a;
}

h1 {
  color: #ec833f;
}
h1 a{
  color: #ec833f;
}
header {
  display: flex;
  background-color: #008b8b;
  color: #fff;
  text-align: center;
  padding: 1%;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  place-items: center;
  padding-left: 10%;
}

.header-right {
}

.header-right a {
  color: #fff;
}

.header-right a:hover {
  text-decoration: underline;
}

footer {
  background-color: #008b8b;
  color: #fff;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 0;
  margin-top: auto;
  width: 100%;
}

.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
  /*background-color: #fff; /*do usuniecia*/
}
a.widget-link {
  display: grid;
  padding: 5%;
  min-width: 200px;
  width: 20%;
  height: 50%;
  place-items: center;
  text-decoration: none;
  border-radius: 5%;
  justify-content: center;
  background-color:#95bedd;
  color: #000;
  margin: 5%;

}

a.widget-link img, a.widget-link object { /*svg*/
  width: 60%;
  min-width: 200px;
  height: 60%;
  margin:10%;
  place-items: center;
  justify-content: center;
}

a.widget-link span {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
}
button {
  font-family: serif;
  justify-items: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}
form {
  font-size: 25px;
  font-weight: bolder;
  max-width: 600px;
  margin: 0 auto;
  font-family: serif;
  place-items: center;
}
select{
  font-family: serif;
  border: 10px solid;
  font-weight: bold;
  background-color:#ec833f ;

}

label {
  display: block;
  margin-bottom: 8px;
}

input,input[type="text"], input[type="email"],input[type="password"], select, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  font-family: serif;
  background-color: #ec833f;
  border:10px solid;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: serif;
  justify-items: center;
  margin-bottom: 15px;
}
.inputGroup{
  font-size: 15px;
  margin: -10px -10px 0;
}
textarea {
  font-family: serif;
  background-color: #ec833f;
}
#id_description {
  font-family: serif;
  background-color: #ec833f;
}
.smallBottom {
  font-size: 12px;
}