@font-face {
  font-family: "Retro_Computer";
  src: url('fonts/Retro_Computer.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Retro_Computer', sans-serif;
  background-color: #ffd76a;
}

h1 {
  color: #ec833f;
}
h1 a{
  color: #ec833f;
}
header {
  display: flex;
  background-color: #008b8b;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  place-items: center;
  padding-left: 50px;
}

.header-right {
}
.header-right a {
  color: #fff; /* Domyślny kolor tekstu dla linków */
}

.header-right a:hover {
  text-decoration: underline; /* Podkreślenie linku po najechaniu myszką */
}
footer {
  background-color: #008b8b;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: auto;
}
.widget-container {
  display: flex;
  justify-content: space-around; /* Rozłożenie elementów równomiernie wokół kontenera */
  margin-right: 10%;
}
a.widget-link {
  display: block;
  width: 150%; /* Szerokość elementu */
  height: 20rem; /* Wysokość elementu */
  justify-content: center;
  background-color:#95bedd; /* Kolor tła */
  align-items: center;
  text-decoration: none; /* Usunięcie domyślnego podkreślenia */
  border-radius: 10px; /* Zaokrąglenie krawędzi */
  text-align: center;
}

a.widget-link img,
a.widget-link object {
  width: 200px; /* Szerokość ikony SVG */
  height: 60%; /* Wysokość ikony SVG */
  margin-top: 15%; /* Odstęp między ikonką a górną krawędzią */
}

a.widget-link span {
  display: block;
  margin-top: 10px; /* Odstęp między ikonką a tekstem */
}
button {
  font-family: Retro_Computer;
  justify-items: center;
  align-items: center;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}
form {
  font-size: 25px;
  font-weight: bolder;
  max-width: 300px; /* Maksymalna szerokość formularza */
  margin: 0 auto; /* Centrowanie formularza */
  font-family: Retro_Computer;
  place-items: center;
}
select{
  font-family: Retro_Computer;
  border: 10px solid;
  font-weight: bold;
  background-color:#ec833f ;
}

label {
  display: block;
  margin-bottom: 8px; /* Odstęp między etykietą a polem formularza */
}

input[type="text"], input[type="email"], select, textarea {
  width: 100%; /* Szerokość pól tekstowych i pól wyboru */
  padding: 8px; /* Wewnętrzne marginesy pól formularza */
  margin-bottom: 16px; /* Odstęp między polami formularza */
  box-sizing: border-box; /* Uwzględnienie paddingu w szerokości elementu */
  font-family: Retro_Computer;
  background-color: #ec833f;
}

input[type="submit"] {
  background-color: #4caf50; /* Kolor tła przycisku submit */
  color: white; /* Kolor tekstu przycisku submit */
  padding: 10px 15px; /* Wewnętrzne marginesy przycisku submit */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Retro_Computer;
  justify-items: center;
  margin-bottom: 15px;
}
.inputGroup{
  font-size: 15px;
  margin: -10px;
  margin-bottom: 0px;
}
textarea {
  font-family: Retro_Computer;
  background-color: #ec833f;
}
#id_description {
  font-family: Retro_Computer;
  background-color: #ec833f;
}
.smallBottom {
  font-size: 12px; /* Możesz dostosować rozmiar czcionki według własnych preferencji */
}