{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<div class="widget-container">
<p><a href="{% url 'listofterminal' %}" class="widget-link">
    <object type="image/svg+xml" data="{% static 'icons/pos_terminal.svg' %}" width="80" height="80">
      <!-- Komunikat wyświetlany, gdy przeglądarka nie obsługuje SVG -->
      Twoja przeglądarka nie obsługuje elementu SVG.
    </object>
    <span><b>List of Terminal</b></span>

</a></p>

<p><a href="{% url 'listofevent' %}" class="widget-link">
    <object type="image/svg+xml" data="{% static 'icons/pos_terminal.svg' %}" width="80" height="80">
      <!-- Komunikat wyświetlany, gdy przeglądarka nie obsługuje SVG -->
      Twoja przeglądarka nie obsługuje elementu SVG.
    </object>
    <span><b>Historia</b></span>
</a></p>

{% load my_custom_tags %}
    {% if request.user|has_group:"Manager" or user.is_staff %}
<p><a href="{% url 'listofuser' %}"class="widget-link">
    <object type="image/svg+xml" data="{% static 'icons/pos_terminal.svg' %}" width="80" height="80">
      <!-- Komunikat wyświetlany, gdy przeglądarka nie obsługuje SVG -->
      Twoja przeglądarka nie obsługuje elementu SVG.
    </object>
    <span><b>List of Users</b></span>
</a></p>
{% endif %}
</div>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<p><a href="{% url 'signup' %}">Sign up</a></p>
{% endif %}
{% endblock %}
