{% extends 'base.html' %}

{% block title %}Add Event and Exchange Terminal Stan{% endblock %}

{% block content %}
  <h1>ZGLos usterke</h1>

  <form method="post" class="form-actual-event">
    <p> czy potrzebujesz zmienic stan terminala</p>
    {% csrf_token %}
    {{ form_terminal_stan.as_p }}
    <label for="{{ form_actual_event.description.id_for_label }}">Napisz nam na czym polega usterka:</label>
    <textarea
      name="{{ form_actual_event.description.name }}"
      id="{{ form_actual_event.description.id_for_label }}"
      cols="40"
      rows="5"
      style="width: 100%; resize: vertical; background-color: #ec833f;border: 10px solid;"
    >{{ form_actual_event.description.value }}</textarea>
    <input type="submit"  value="Zapisz">
  </form>
{% endblock %}
