{% extends 'base.html' %}

{% block title %}Add Event and Exchange Terminal Stan{% endblock %}

{% block content %}
  <h2>Add Event and Exchange Terminal Stan</h2>

  <form method="post" class="form-actual-event">
    {% csrf_token %}
    {{ form_terminal_stan.as_p }}
    <hr>
    <label for="{{ form_actual_event.description.id_for_label }}">Description:</label>
    <textarea
      name="{{ form_actual_event.description.name }}"
      id="{{ form_actual_event.description.id_for_label }}"
      cols="40"
      rows="5"
      style="width: 100%; resize: vertical; background-color: #ec833f;border: 10px solid;"
    >{{ form_actual_event.description.value }}</textarea>
    <button type="submit">Wyslij</button>
  </form>
{% endblock %}
